* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.header {
  max-height: 200px;
  display: grid;
  grid-template-areas: 
    'title user'
    'links links';
  grid-template-columns: 70% auto;
}

.header__title {
  grid-area: title;
  padding: 5px;
  text-align:center;
  background-color: rgb(165, 249, 249);
}

/* USER STYLING */
.user-panel {
  grid-area: user;
  background-color: rgba(180, 87, 227, 0.52);
  padding-right: 10px;
  display: grid;
  grid-template-areas:
  'username username'
  'user-image user-stats'
  'user-image user-stats';
}

.user-panel__username {
  grid-area: username;
  font-size: 4vw;
  text-align: right;
}

.user-panel__user-image {
  border-radius: 50%;
  max-width: 50%;
  grid-area: user-image;
  margin-left: 20%;
}

.user-panel__user-comments {
  grid-area: user-stats;
  font-size: 2.5vw;
}

.user-panel__user-votes {
  grid-area: user-stats;
  font-size: 2.5vw;

}

.navbar {
  grid-area: links;
  padding: 5px;
  background-color: rgb(236, 236, 178);
}

.navbar__ul {
  display: flex;
  justify-content: space-around;
}

/* REVIEWS STYLING*/

.reviews-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(235, 179, 179, 0.652);
}

.sort-order-controls {
  display: flex;
  justify-content: space-evenly;
}

.reviews-panel__review-card {
  border: 2px solid grey;
  margin: 2px;
  padding: 5px;
}

.reviews-panel__review-card:hover {
  background-color: rgba(235, 138, 138, 0.652);;
  @media(min-width: 600px;)
  transform: scale(1.05);
}

.review-card {
  display: grid;
  grid-template-columns: 40% 30% 30%;
  grid-template-areas: 
    'title title image image'
    'title title image image'
    '. . image image'
    'date date . .'
    'comments comments votes votes'
    ;
}


.review-card__image {
  grid-area: image;
  width: 100%;
  max-height: auto;
  object-fit: contain;
  object-position: right top;
}

.review-card__title {
  grid-area: title;
}

.review-card__date {
  font-size: 0.8rem;
  grid-area: date;
  padding-bottom: 8%;
}

.review-card__owner {
  color: rgba(120, 115, 115, 0.854);
  font-style: italic;
}

.review-card__votes {
  grid-area: votes;
}

.review-card__comments {
  grid-area: comments;
}

/* CATEGORIES STYLING */

.categories-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.categories-panel__category-card {
  border: 2px solid grey;
  box-sizing: border-box;
  padding: 5px;
  margin-bottom: 5px;
}

/* SINGLE REVIEW ARTICLE STYLING */

.review-article {
  border: 1px solid lightgray ;
  border-radius: 1%;
  display: grid;
  grid-template-areas: 'title title'
  'review-details review-details'
  '. vote'
  'image image'
  'body body'
  'game-details game-details'
  'comments comments' ;
}

.review-article__title {
  grid-area: title;
  padding: 5px;
  margin: 10px;
  text-align: center;
}

.review-article__byline {
  grid-area: title;
  font-weight: 400;
  color: darkslategray;
}

.review-article__review-details-card {
  grid-area: review-details;
  text-align: end;
}

.review-details-card__date {
  font-weight: 300;
  margin-bottom: 3px;
  text-align: center;
}

.review-article__image {
  width: 100%;
  grid-area: image;
  margin: 5px 0;
}

.review-article__body-text {
  grid-area: body;
}

.review-article__game-details-card {
  grid-area: game-details;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: right;
  font-weight: 300;
}

.review-interactions__votes {
  text-align: right;
  grid-area: vote;
  padding: 3px;
}

.review-interactions__comments {
  grid-area: comments;
}

.review-interactions--new-comment {
  grid-area: comments;
}

/* COMMENTS STYLING */

.comment-card {
  margin: 5% 15%  ;
  padding: 5%;
  border: 0.5px solid slategray;
  max-width: 70%;
}

.comment-card__date {
  font-size: smaller;
  font-weight: 300;
  color: slategray;
  padding: 3px;
}

.comment-card__votes {
  margin-top: 3px;
  text-align: right;
}

.new-comment__form {
  display: grid;
  grid-template-areas: 
    'label .'
    'input submit';
    grid-template-columns: 60% auto;
}

.new-comment__label {
  grid-area: label;
}

.new-comment__input {
  width: 100%;
  grid-area: input;
}

.new-comment--submit-btn {
  width: 100%;
  height: 4rem;
  grid-area: submit;
}

.new-comment--submit-btn:hover {
  background-color: rgb(197, 210, 223);
  transform: translate(-1%, -1%);
  box-sizing: border-box;
  border: none;
  box-shadow: 5px 5px 5px 5px rgb(198, 198, 172);;
}

/* Adustments for larger screen widths */

@media (min-width: 600px) {
  .header{
  grid-template-areas: 
  'title user'
  'links user';
  }

  .reviews-panel {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .reviews-panel__review-card {
    height: 20%;
    width: 30%;
    border-radius: 2%;
    padding: 20px;
  }

  .categories-panel__category-card {
    max-width: 60%;
  }

  .review-article {
   max-width: 55%;
   margin: 1% 20%;
  }
}