* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.header {
  width: 100%;
  max-height: 100px;
  display: grid;
  grid-template-areas: 
    'headertitle userpanel'
    'headerlinks userpanel';
    grid-template-rows: 50% 50%;
  grid-template-columns: 65vw 35vw;
}

.header__title {
  grid-area: headertitle;
  padding: 5px;
  text-align:center;
  background-color: rgb(165, 249, 249);
}

/* USER STYLING */
.user-panel {
  background-color: rgba(180, 87, 227, 0.52);
  display: grid;
  grid-template-areas: 'userimage username'
  'userimage userbutton';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 100%;
}

.user-login__form {
  background-color: rgba(180, 87, 227, 0.52);
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.user-panel__username {
  grid-area: username;
  font-size: 1rem;
  text-align: right;
  display: inline;
}

.user-panel__user-image {
  grid-area: userimage;
  width: auto;
  height: auto;
  visibility:hidden;
  border-radius: 50%;
}

.user-login--button {
  grid-area: userbutton;
  padding: 0.5em;
  border-radius: 5%;
}

.user-panel__user-image {
  height: 0.5em;
  width: auto;
}

.user-login--button {
  padding: 1em;
  text-align: center;
}

.navbar {
  grid-area: headerlinks;
  padding: 5px;
  background-color: rgb(236, 236, 178);
}

.navbar__ul {
  display: flex;
  justify-content: space-around;
}

/* REVIEWS STYLING*/

.reviews-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(235, 179, 179, 0.652);
}

.sort-order-controls {
  display: flex;
  justify-content: space-evenly;
}

.reviews-panel__review-card {
  border: 2px solid grey;
  margin: 2px;
  padding: 5px;
}

.reviews-panel__review-card:hover {
  background-color: rgba(235, 138, 138, 0.652);;
  @media(min-width: 600px;)
  transform: scale(1.05);
}

.review-card {
  display: grid;
  grid-template-columns: 40% 30% 30%;
  grid-template-areas: 
    'reviewtitle reviewtitle reviewimage reviewimage'
    'reviewtitle reviewtitle reviewimage reviewimage'
    '. . reviewimage reviewimage'
    'reviewdate reviewdate . .'
    'comments comments votes votes'
    ;
}


.review-card__image {
  grid-area: reviewimage;
  width: 100%;
  max-height: auto;
  object-fit: contain;
  object-position: right top;
  border-radius: 40% 16%;
}

.review-card__title {
  grid-area: reviewtitle;
}

.review-card__date {
  font-size: 0.8rem;
  grid-area: reviewdate;
  padding-bottom: 8%;
}

.review-card__owner {
  color: rgba(120, 115, 115, 0.854);
  font-style: italic;
}

.review-card__votes {
  grid-area: votes;
}

.review-card__comments {
  grid-area: comments;
}

/* CATEGORIES STYLING */

.categories-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.categories-panel__category-card {
  border: 2px solid grey;
  box-sizing: border-box;
  padding: 5px;
  margin-bottom: 5px;
}

/* SINGLE REVIEW ARTICLE STYLING */

.review-article {
  border: 1px solid lightgray ;
  border-radius: 1%;
  display: grid;
  grid-template-areas: 'reviewtitle reviewtitle'
  'review-details review-details'
  '. vote'
  'reviewimage reviewimage'
  'reviewbody reviewbody'
  'game-details game-details'
  'comments comments' ;
}

.review-article__title {
  grid-area: reviewtitle;
  padding: 5px;
  margin: 10px;
  text-align: center;
}

.review-article__byline {
  grid-area: reviewtitle;
  font-weight: 400;
  color: darkslategray;
}

.review-article__review-details-card {
  grid-area: review-details;
  text-align: end;
}

.review-details-card__date {
  font-weight: 300;
  margin-bottom: 3px;
  text-align: center;
  grid-area: reviewdate;
}

.review-article__image {
  width: 100%;
  grid-area: reviewimage;
  margin: 5px 0;
}

.review-article__body-text {
  grid-area: reviewbody;
}

.review-article__game-details-card {
  grid-area: game-details;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: right;
  font-weight: 300;
}

.review-interactions__votes {
  text-align: right;
  grid-area: vote;
  padding: 3px;
}

.review-interactions__comments {
  grid-area: comments;
}

.review-interactions--new-comment {
  grid-area: comments;
}

/* COMMENTS STYLING */

.comment-card {
  margin: 5% 15%  ;
  padding: 5%;
  border: 0.5px solid slategray;
  max-width: 70%;
}

.comment-card__date {
  font-size: smaller;
  font-weight: 300;
  color: slategray;
  padding: 3px;
}

.comment-card__votes {
  margin-top: 3px;
  text-align: right;
}

.new-comment__form {
  display: grid;
  grid-template-areas: 
    'label .'
    'input submit';
    grid-template-columns: 60% auto;
}

.new-comment__label {
  grid-area: label;
}

.new-comment__input {
  width: 100%;
  grid-area: input;
}

.new-comment--submit-btn {
  width: 100%;
  height: 4rem;
  grid-area: submit;
}

.new-comment--submit-btn:hover {
  background-color: rgb(197, 210, 223);
  transform: translate(-1%, -1%);
  box-sizing: border-box;
  border: none;
  box-shadow: 5px 5px 5px 5px rgb(198, 198, 172);;
}

/* ERROR STYLING */

.error-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ceddf2;
}

.error-panel__apology {
  padding: 20px;
  font-weight: 600;
  text-align: center;
}

.error-panel__image {
  max-width: 50vw;
  border-radius: 50%;
  animation: rotation 15s infinite linear;
  padding: 20px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.sort-order-controls{
  padding: 10px;
}

/* Adustments for larger screen widths */

@media (min-width: 600px) {
  .header{
    width: 100vw;
  grid-template-areas: 
  'headertitle userpanel'
  'headerlinks userpanel';
  grid-template-columns: 70vw 30vw;
  }

  .user-login__form {
    grid-area: userpanel;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height:auto;
  }

  .user-panel__user-image {
    grid-area: userimage;
    width: 50px;;
    height: 50px;
    visibility:visible;
    border-radius: 50%;
  }

  /* .user-panel {
    grid-area: userpanel;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height:auto;
  } */

  .reviews-panel {
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .reviews-panel__review-card {
    width: 30%;
    height: auto;
    border-radius: 2%;
    padding: 20px;
  }

  .categories-panel__category-card {
    max-width: 600px;
  }

  .review-article {
   max-width: 55%;
   margin: 1% 20%;
  }
}